#record_table .hidden {
	display: none;
}

#record_table button {
	margin-right: 3px;
	border-radius: 4px;
	border: 1px solid black;
	padding: 2px 6px;
}

#record_table input[type=text] {
	margin: 0px;
	box-shadow: none;
	top: 0;
	height: 1em;
	border-radius: 3px;
	border: 1px solid black;
	padding: 2px;
}

#record_table select {
	border-radius: 3px;
	box-shadow: none;
	margin-top: 0;
	top: 0;
	padding: 0px;
	border: 1px solid black;
}

#record_table td { padding-bottom: 1em; }

/* Bold the title of sections */
#record_table td:first-child { font-weight: 700; }
